<html>
	<head>
	</head> 
	<body>
		<table>
			<thead>
				<tr>
					<td>id</td>
					<td>product</td>
				</tr>
			</thead>
			<tr>
				<td>1</td>
				<td>product 1</td>
			</tr>
		</table>
	</body>
</html>